* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: blue; 
    color: goldenrod;
    padding: 20px; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left; 
}

.logo-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo-img {
    width: 120px;
}

.home-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    color:#fff; 
    font-weight: bold; 
    font-size: x-large;
    display: inline-block; 
    width: auto; 
    vertical-align: 50px;
}

.menu li{
    display: inline;
    margin-inline: 30px;
}

.bottom{
    background-color: blue;
    padding: 20px;
}

.footer-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: large;
    vertical-align: middle;
}

.main-content{
    background-color: lightcyan;
}

.main.container {
    max-width: 1375px; 
    margin: 0 auto;
    padding: 30px; 
}

.title {
    color:darkblue; 
    font-size: 32px; /* Tamaño de la fuente del título */
    margin-bottom: 20px; /* Espacio inferior del título */
    font-family: Arial, Helvetica, sans-serif;
}

.visualization {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Mostrar la imagen como bloque para centrarla */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    margin-top: 20px; /* Espacio superior de la imagen */
}
