{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Thesis Cloud{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <header>
        <a href="{% url 'Thesis_Cloud' %}">
            <img src="{% static 'img/Logo.png' %}" alt="Thesis Cloud">
        </a>
        <a href="{% url 'Thesis_Cloud' %}">
            Home
        </a>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div>
            @ 2024 Thesis Cloud
        </div>
    </footer>

</body>
</html>