{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}Thesis Cloud{% endblock %}

{% block content %}
    <div class="main container">
        <h1 class="title">Welcome to Thesis Cloud</h1>
        <img class="visualization" src="{% static 'img/Number_of_theses_published_per_year.png' %}" alt="Number of theses published per year">
        <br>
        <div class="microservice">
            <h2 class="subtitle">Microservice</h2>
            <p class="text">Please write your thesis topic or title. We will provide you with the tenth most related thesis previously published.</p>
        </div>
    </div>
{% endblock %}