<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Thesis Cloud{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="menu">
                <li>
                    <a href="{{ url_for('index_view') }}" class="logo-link">
                        <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Thesis Cloud" class="logo-img">
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('index_view') }}" class="home-link">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('visualizations_view') }}" class="home-link">Visualizations</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="bottom">
        <div class="footer-text">
            Arnoldo Fernando Chue Sánchez
        </div>
        <br>
        <div class="footer-text">
            @ 2024 Thesis Cloud
        </div>
    </footer>
</body>
</html>